# requirements.txt (no tensorflow)
fastapi
uvicorn
python-dotenv
supabase
pinecone-client
deepface
opencv-python-headless
scikit-learn
numpy
pydantic
python-multipart
face-recognition
face_recognition_models
